<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>POSTCODE</title>
    <LINK REL="SHORTCUT ICON" HREF="http://www.oppcaster.com/favicon.ico" /> 

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  {% block header %}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="nav nav-tabs pull-left">
      <li><a href="/"><span style="color:#545454;">POST<strong>CODE</strong></span></a></li>
      </ul>
      <ul class="nav nav-tabs pull-right">
      <li><a href="#about">ABOUT</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/products/recordtrac">RecordTrac</a></li>
        <li><a href="/products/promptly">Promptly</a></li>
        <li><a href="/products/cityvoice">CityVoice</a></li>
      </ul>
      </li>
      <li><a href="#services">SERVICES</a></li>
      <li><a href="http://blog.postcode.io">BLOG</a></li>
      <li><a href='https://docs.google.com/forms/d/1a0fFreqxl-1S5KKwdM54WN-wqiYCeegsMwDte0FbDT0/viewform' target="_blank"><span style="color:#545454; font-weight:bold;">CONTACT</span></a></li>
    </ul>
  </nav>
    {% endblock header %}
    {% block content %} 
  
    {% endblock content %}
    {% block footer %}

      <footer>
          <div class="container">
            <div class="col-xs-4">
              <h2>CONTACT</h2>
              <p>
                155 9th St.</br>San Francisco, CA 94103</br><a href="mailto:info@postcode.io">info at postcode dot io</a></p>
            </div>
            <div class="col-xs-4">
              <h2>BLOG</h2>
              <p><a href="http://blog.postcode.io/" target="_blank">Go to Blog</a></p>
            </div>
            <!-- <div class="col-xs-3">
              <h2>TWITTER FEED</h2>
              <p>Pull a tweet. </br> <a href="https://twitter.com/postcode_io" class="twitter-follow-button" data-show-count="false">Follow @postcode_io</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
                </p>
            </div> -->
            <div class="col-xs-4">
              <h2>FOLLOW</h2>
              <p>
                <a href="https://twitter.com/postcode_io" target="_blank"><img src="{{ url_for('static', filename='images/twitter_logo.png') }}"></a>&nbsp; &nbsp;
                <a href="https://www.facebook.com/postcode.io" target="_blank"><img src="{{ url_for('static', filename='images/facebook_logo.png') }}"></a>&nbsp; &nbsp;
                <a href="http://www.linkedin.com/company/postcode-io" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}"></a>&nbsp; &nbsp;
              </p>
            </div>
          </div> 
      </footer>
      <p style="padding-left: 2.5em; padding-bottom: 1.5em;">&#169; PostCode LLC, 2013</p>
    {% endblock footer %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">


      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43486781-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>