<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>POSTCODE</title>
    <LINK REL="SHORTCUT ICON" HREF="http://www.oppcaster.com/favicon.ico" /> 

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <div class="container" style="padding-bottom: 5em;">
  {% block header %}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <ul class="nav nav-tabs pull-left">
      <li><a href="/"><span style="color:#545454;">POST<strong>CODE</strong></span></a></li>
      </ul>
      <ul class="nav nav-tabs pull-right">
      <li><a href="/about">ABOUT</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/products/recordtrac">RecordTrac</a></li>
        <li><a href="/products/promptly">Promptly</a></li>
        <li><a href="/products/cityvoice">CityVoice</a></li>
      </ul>
      </li>
      <li><a href="/services">SERVICES</a></li>
      <li><a href="/blog">BLOG</a></li>
      <li><a href='https://docs.google.com/forms/d/1a0fFreqxl-1S5KKwdM54WN-wqiYCeegsMwDte0FbDT0/viewform' target="_blank"><span style="color:#545454; font-weight:bold;">CONTACT</span></a></li>
    </ul>
  </nav>
    {% endblock header %}
    {% block content %} 
  <div class="jumbotron" style="background: url(static/images/cfa_office.jpg);">
    <div class="container">
      <div class="title_tag" id="about">ABOUT</div> 
      <div class="row " style="padding-top: 0em; padding-bottom: 2em;">
        <div class="col-lg-4">
            <div class="talking_points">
                <h2 style="color:black;">Tools</h2>
            </div>
          <p style="color:black; font-size: 1.1em; text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);">We provide local governments with great tech tools. These tools include applications we've personally worked on as well as other open source applications that we can redeploy and maintain.</p>
       </div>
        <div class="col-lg-4">
            <div class="talking_points">
                <h2 style="color:black;">Services</h2>
            </div>
          <p style="color:black; font-size: 1em; text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);">In addition to the existing products we develop and support we also provide contract services for cities to develop unique solutions to common problems. Our organization offers full service research, design, development, implementation, and maintenance for projects.</p>
        </div>
        <div class="col-lg-4">
          <div class="talking_points">
              <h2 style="color:black;">Values</h2>
          </div>
          <p style="color:black; font-size: 1em; text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);">We are passionate about making local governments more effective and inclusive. We bring this passion to every project we work on along with a combined 30 years of consulting experience in the technology and government sectors. 
          </p>
        </div>
      </div> 
    </div>
  </div>
    <div class="jumbotron" style="background:white; padding-top: 2em; padding-bottom: 3em;">
        <div class="container" >
          <div style="margin-bottom: 40px;">
          <div class="title_tag">OUR TEAM</div> 
          </div>
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='images/Andy_Hull-150x150.jpg') }}" style="margin-bottom: 10px; margin-right: 20px; text-align:right;">
              <div class="name">ANDY HULL</div>
              <div class="position">CEO, Co-founder</div>
              <p style="font-size: .7em; background: white; text-align: justify;"><!--Andy is a web developer and a Geographic Information Systems analyst with ten years of experience working with government agencies, academic research groups, libraries, non-profits, and think tanks to create user centered web applications. He holds a BA in Geography and an MS in Information Science, both from the University of North Carolina.--> <a href="https://twitter.com/andyhull3" target="_blank">@andyhull3</a></p>
            </div>
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='images/CJ_Bryan-150x150.jpg') }}" style="margin-bottom: 10px; margin-right: 20px; text-align:right;">
              <div class="name">CJ Bryan</div> 
              <div class="position">CTO, Co-founder</div>
              <p style="font-size: .7em; background: white; text-align: justify;"><!--CJ is a web developer and software consultant. Most recently, he rebuilt the online publishing platform for the Society for Cultural Anthropology. Previously he worked with Fight for the Future creating online campaign platforms. He spends the rest of his time riding bikes and hacking on small machines.--> <a href="https://twitter.com/waltz" target="_blank">@waltz</a></p>
            </div>
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='images/Cris_Cristina1-150x150.jpg') }}" style="margin-bottom: 10px; margin-right: 20px; text-align:right;">
              <div class="name">CRIS CRISTINA</div> 
              <div class="position">CFO, Co-founder</div>
              <p style="font-size: .7em; background: white; text-align: justify;"><!--Cris is a user experience designer originally from New Orleans. Most recently, he held the position of design manager at Cisco, developing next generation collaboration products for mobile and web platforms. He has worked as a design strategist, user researcher, and interaction designer. With a background in biomedical engineering and human factors, he spent six years designing aeronautical interfaces for the U.S. Navy.--> <a href="https://twitter.com/criscristina" target="_blank">@criscristina</a></p> 
            </div>
          </div>
          <div class="row" style="margin-top: 50px;">
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='images/Richa_Agarwal_Headshot-150x150.jpg') }}" style="margin-bottom: 10px; margin-right: 20px; text-align:right;">
              <div class="name">RICHA AGARWAL</div> 
              <div class="position">Director of Engineering, Co-founder</div>
              <p style="font-size: .7em; background: white; text-align: justify;"><!--
                Richa is a software developer and lover of technology, civic engagement, and the outdoors. Most recently, she has been working to help re-elect Obama from the campaign headquarters. When she’s not coding, you can find her at a local coffee shop or out on the trails. Richa holds a BA in Philosophy and Psychology from Colgate University, and an MS in Computer Science from the University of Illinois at Chicago.--> <a href="https://twitter.com/richaaaa" target="_blank">@richaaaa</a></p>
            </div>
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='images/Reed_Duecy_Gibbs-150x150.jpg') }}" style="margin-bottom: 10px; margin-right: 20px; text-align:right;">
              <div class="name">REED DUECY-GIBBS</div> 
              <div class="position">Creative Director, Co-founder</div>
              <p style="font-size: .7em; background: white; text-align: justify;"><!--Reed is an urbanist and interdisciplinary designer and is the co-founder of OpenUrban, a crowd sourced map and forum on current urban development. He has worked as an architect and urban designer, and as a policy researcher for the City of Seattle. Most recently his work was on display in the Istanbul Design Biennial’s Ad-Hocracy exhibition. Reed is a former Fulbright Scholar and holds a Masters of Architecture from the Rhode Island School of Design.--> <a href="https://twitter.com/rduecyg" target="_blank">@rduecyg</a></p>
            </div>
            <div class="col-lg-4">
              <img src="{{ url_for('static', filename='images/Tamara_Manik-Perlman-150x150.jpg') }}" style="margin-bottom: 10px; margin-right: 20px; text-align:right;">
              <div class="name">TAMARA MANIK-PERLMAN</div> 
              <div class="position">Director of User Research, Co-founder</div>
              <p style="font-size: .7em; background: white; text-align: justify;"><!--<!-- Tamara is passionate about geodata visualization, interactive art, local food, national parks, and inclusive urban citizenship. Most recently, she worked at Azavea where she managed the development of web and mobile applications, and lead the spatial analysis and UX design teams. Tamara has worked at environmental and health non-profits and is particularly interested in the role of immigrants in shaping urban development. She studied Anthropology at Swarthmore College and did graduate work in Geography at Temple University. --><a href="https://twitter.com/TamaraMP" target="_blank">@TamaraMP</a></p>
            </div>
          </div>
          </div>
        </div>
    </div>
    {% endblock content %}
    {% block footer %}

      <footer>
          <div class="container">
            <div class="col-xs-3">
              <h2>CONTACT</h2>
              <p>
                155 9th St.</br>San Francisco, CA 94103</br><a href="mailto:info@postcode.io">info at postcode dot io</a></p>
            </div>
            <div class="col-xs-3">
              <h2>BLOG</h2>
              <p>Pull a blog post.</p>
            </div>
            <div class="col-xs-3">
              <h2>TWITTER FEED</h2>
              <p>Pull a tweet. </br> <a href="https://twitter.com/postcode_io" class="twitter-follow-button" data-show-count="false">Follow @postcode_io</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
                </p>
            </div>
            <div class="col-xs-3">
              <h2>FOLLOW</h2>
              <p>Links.</p>
            </div>
          </div> 
      </footer>
      <p style="padding-left: 1.5em;">&#169; PostCode LLC, 2013</p>
    {% endblock footer %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">


      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43486781-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>