<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>POSTCODE</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" media="screen">

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}" rel="text/javascript"></script>


    <!-- Custom styles for this template -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>

  {% block header %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">POSTCODE</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">ABOUT</a></li>
            <li class="dropdown">
              <a href="http://getbootstrap.com/examples/navbar-fixed-top/#" class="dropdown-toggle" data-toggle="dropdown">PRODUCTS <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/recordtrac">RecordTrac</a></li>
                <li><a href="/promptly">Promptly</a></li>
                <li><a href="/products/cityvoice" target="_blank">CityVoice</a></li>
              </ul>
            </li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="http://blog.postcode.io">BLOG</a></li>
            <li><a href="https://docs.google.com/forms/d/1a0fFreqxl-1S5KKwdM54WN-wqiYCeegsMwDte0FbDT0/viewform" target="_blank"><span class="contact_button">CONTACT</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% endblock header %}
    {% block content %} 
  
    {% endblock content %}
    {% block footer %}

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <h2>CONTACT</h2>
                <p><a href="tel:+18447678263"><span class="glyphicon glyphicon-earphone"></span>&nbsp;844-767-8263</a><br>
                <a href="mailto:info@postcode.io"><span class="glyphicon glyphicon-envelope"></span>&nbsp;info@postcode.io</a><br>
                <a href="https://www.google.com/maps/place/155+9th+St,+San+Francisco,+CA+94103/@37.7756408,-122.4136494,17z/data=!3m1!4b1!4m2!3m1!1s0x8085809d3b295d29:0xbb93fb534b7f2e63" target="_blank"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;155 9th St.</br>San Francisco, CA 94103</a></br></p>
            </div>
            <div class="col-md-4 col-lg-4">
                <h2>NEWSLETTER</h2>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                  <form role="form" action="//postcode.us8.list-manage.com/subscribe/post?u=751866313e9d2c19ac9803163&amp;id=2f06f4ef58" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;"><input type="text" name="b_751866313e9d2c19ac9803163_2f06f4ef58" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm"></div>
                  </form>
                </div>
              <!--End mc_embed_signup-->
            </div>
            <div class="col-md-4 col-lg-4">
              <h2>FOLLOW</h2>
                <a class="social" href="https://twitter.com/postcode_io" target="_blank"><img src="{{ url_for('static', filename='images/twitter_logo.png') }}"></a>&nbsp; &nbsp;
                <a class="social" href="https://www.facebook.com/postcode.io" target="_blank"><img src="{{ url_for('static', filename='images/facebook_logo.png') }}"></a>&nbsp; &nbsp;
                <a class="social" href="http://www.linkedin.com/company/postcode-io" target="_blank"><img src="{{ url_for('static', filename='images/linkedin_logo.png') }}"></a>&nbsp; &nbsp;
            </div>
            
          </div>
          <div class="row">
            <div class="col-xs-12 col-lg-2">
              <p style="font-size: .75em; padding-top: 4em;">&#169; PostCode LLC, 2014<br> <a href="/privacy">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
      
    {% endblock footer %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">


      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ga_tracking_code }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = {{ remarketing_id }};
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/967774833/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

    <!--Facebook Retargeting tag -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '578194438958651']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=578194438958651&amp;ev=NoScript" /></noscript>

  </body>
</html>
