{% extends "base.html" %}


{% block content %}

<div class="jumbotron" style="background: url(static/images/cfa_office.jpg); margin-top: 50px;">
  <div class="container">
    <div class="row " style="padding-top: 2em; padding-bottom: 2em;">
      <div class="col-lg-6">
          <img style="padding: 0px 15px;" class="img-responsive" src="{{ url_for('static', filename='images/postcode_logo_400px.png') }}" alt="POSTCODE">
      </div>
      <div class="col-lg-6">
        <h1 style="padding-top: .9em;">DELIVERING<br> CIVIC<br> TECHNOLOGY</h1>
      </div>
    </div> 
  </div>
</div>
<div class="jumbotron" style="background:none;">
  <div class="container">
     
    <div class="row " style="padding-top: 0em; padding-bottom: 2em;">
      <div class="col-lg-6">
        <div style="float:right; line-height: 1.0;">
          <div class="title_tag">ABOUT</div>
        </div>
        <br>
        <p style="text-align: right;">We are a team of technologists, researchers, and designers who are passionate about democratic governance, civic engagement, and the power of technology. We bring this passion to every project we work on along with a combined 30 years of consulting experience in the technology and government sectors.</p>
      </div>
      <div class="col-lg-6">
        <img style="padding: 0px 15px;" class="img-responsive" src="{{ url_for('static', filename='images/postcode_group.jpg') }}" alt="POSTCODE TEAM">
      </div>
    </div> 
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="title_tag">PRODUCTS</div> 
    <div class="row " style="padding-top: 0em; padding-bottom: 2em;">
      <div class="col-lg-4">
          <div class="products recordtrac">
              RecordTrac
          </div>
        <p>{{"recordtrac" | get_product("blurb") }}</p>
        <a href="">Learn More</a>
     </div>
      <div class="col-lg-4">
        <div class="products promptly">
          Promptly
        </div>
        <p>{{"promptly" | get_product("blurb") }}</p>
        <a href="">Learn More</a>
      </div>
      <div class="col-lg-4">
        <div class="products cityvoice">
          CityVoice
        </div>
        <p>{{"cityvoice" | get_product("blurb") }}
        </p>
        <a href="">Learn More</a>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}
