{% extends "base.html" %}


{% block content %}

<div id="message-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><img width="70" src="https://nextrequest.com/assets/nextrequest_logo_color-6a7f6959201821ba93e88e7f66da9185.png">&nbsp;NextRequest</h2>
      </div>
      <div class="modal-body">
        <p class="modal-text">The PostCode team is now devoting its energy to building NextRequest. We're rethinking and improving the public records request process and would love your support.</p>

        <p class="modal-text">Learn more at: <br/><a class="modal-link" href="https://www.nextrequest.com">www.NextRequest.com</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="jumbotron" style="background: url(static/images/SanFrancisco.jpg); margin-top: 50px;">
  <div class="container">
    <div class="row front-padding">
      <div class="col-lg-6">
          <img style="float:left; padding: 15px;" class="img-responsive" src="{{ url_for('static', filename='images/postcode_logo_400px.png') }}" alt="POSTCODE">
      </div>
      <div class="col-xs-6 col-lg-6" style="padding-top: 1.5em; margin-bottom">
          <h1 class="banner_text" style="margin-top: 5em;">DELIVERING</h1><br><h1 class="banner_text">CIVIC</h1><br><h1 class="banner_text">TECHNOLOGY</h1>
          <div class="title_tag_wht">
            <div style="display: inline;"><a href="#about" class="banner">LEARN MORE</a> &nbsp;</div> 
            <img class="img-responsive" style="display: inline;" src="{{ url_for('static', filename='images/down_arrow.png') }}" alt="v">
          </div>
      </div>
    </div> 
  </div>
</div>
<div id ="about" class="jumbotron" style="background: none; border-top: 12px solid white;">
  <div class="container">
    <div class="row" style="margin-top: 4em; margin-bottom: 5em;">
      <div class="col-lg-6 col-lg-offset-3">
        <div style="padding-left: 12px;">
          <div class="title_tag" style="line-height: 1;">ABOUT</div>
          <br>
          <p style="padding-top: .75em;">We are a <span class="emphasize">mission driven company</span> that provides technology applications and services to local governments. We focus on <span class="emphasize">open source</span> software and <span class="emphasize">user-centered design</span>. Our goal is to help the public sector operate more efficiently while engaging residents more effectively... <a href="/about">more about us</a></p>
        </div>
      </div>
      <!--
      <div class="col-lg-6">
        <img style="padding: 0px 15px;" class="img-responsive" src="{{ url_for('static', filename='images/postcode_group.jpg') }}" alt="POSTCODE TEAM">
      </div>
    -->
    </div> 
  </div>
</div>
<div class="jumbotron" style="background: url(static/images/products_image.jpg); border-top: 12px solid white;">
  <div class="container products">

    <div class="row" style="margin-top: 1em; margin-bottom: 1.5em;">
      <div class="col-sm-12 col-lg-12px" style="text-align: center;">
        <div class="title_tag">PRODUCTS</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-lg-10  white_back recordtrac">
        <div class="row">
          <div class="col-md-8 col-lg-8">
            <div class="row">
              <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                <img class="img-responsive" src="{{ url_for('static', filename='images/recordtrac_logo_notext.png') }}" alt="recordtrac logo">
              </div>
              <div class="col-lg-2">
                <h1>NextRequest</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <h2 class="color">Open Public Records</h2>
                <p>
                  NextRequest is an open platform for agencies to communicate about public records requests in a compliant, transparent, and efficient manner. NextRequest streamlines the process of managing responses, saving valuable staff time while also enabling the public to track the status of requests online. 
                  <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <a href="//fast.wistia.net/embed/iframe/ykqdie3no0?popover=true" class="wistia-popover[height=478,playerColor=4ae0c9,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/9226d4faf3f1a9c32e1b6fab6388dc7c30594093.jpg?image_play_button=true&image_play_button_color=4ae0c9e0&image_crop_resized=200x113" alt="" /></a><br>
            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
            <a href="//fast.wistia.net/embed/iframe/ykqdie3no0?popover=true" class="wistia-popover[height=478,playerColor=4ae0c9,width=800] title rt_link">Watch Video</a><br>
            <button type="button" class="btn btn-danger" onclick="window.open('/recordtrac_signup', '_blank')">REQUEST DEMO</button><br>
            <div class="title_tag_wht">
              <a href="/nextrequest" class="banner">Learn More</a>
            </div><br>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-lg-4 white_back promptly">
        <div class="row">
          <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
            <img class="img-responsive" src="{{ url_for('static', filename='images/promptly_logo_notext.png') }}" alt="promptly logo">
          </div>

          <div class="col-md-10 col-lg-10">
            <h4>Promptly</h4>
            <h5 class="color">Easy text reminders for government services</h5>
            <button type="button" class="btn btn-primary" onclick="window.open('https://docs.google.com/forms/d/1FuwfLoFMVKMnNQvjgmZpSLm_qrukP0cNkYPJr05ELx4/viewform', '_blank')">REQUEST DEMO</button><br>
            <div class="title_tag_wht">
              <a href="/promptly" target="_blank" class="banner">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 white_back cityvoice">
        <div class="row">
          <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
            <img class="img-responsive" src="{{ url_for('static', filename='images/cityvoice_logo_notext.png') }}" alt="recordtrac logo">
          </div>

          <div class="col-md-10 col-lg-10">
            <h4>CityVoice</h4>
            <h5 class="title color">Community feedback for everyone</h5>
            <button type="button" class="btn btn-success" onclick="window.open('https://docs.google.com/forms/d/18Pc6EEhEZs-oIi8Sk4jeUTGib1AbQEwI5GRHEsSjomU/viewform', '_blank')">REQUEST DEMO</button><br>
            <div class="title_tag_wht">
              <a href="/products/cityvoice" target="_blank" class="banner">Product Sheet</a>&nbsp;&nbsp;<span class="glyphicon glyphicon-save"></a>
            </div>
          </div>
        </div>
      </div>


    </div>

 

  </div>
</div>
<div id = "services" class="jumbotron" style="background: none;">
  <div class="container">
    <div class="row " style="margin-top: 4em; margin-bottom: 5em;">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="title_tag" style="line-height: 1;">SERVICES</div>
          <br>
          <p style="text-align: left; padding-top: .75em;">In addition to the products we develop and support we also provide <span class="emphasize">contract and consulting for local governments</span>. We offer full service research, design, development, implementation, and maintenance for technology solutions... <a href="/services">more on services</a></p>
        </div>
      </div>
    </div> 
  </div>
</div>
{% endblock content %}
