{% extends "base.html" %}

{% block content %}
<div class="recordtrac">
<div class="jumbotron" style="background: url(static/images/papers.jpg);">
  <div class="container">
    <div class="row" style="margin-top: 8em; margin-bottom: 3em; text-align: right;">
      <div class="col-lg-9 col-lg-offset-2">
      	<h1 class="banner_text title color">Public <br>&nbsp;records requests <br>&nbsp;made easy</h1><br>
	  	<div class="title_tag_wht">
	    	<a href="/products/recordtrac" target="_blank" class="banner">PRODUCT SHEET (PDF)</a>&nbsp;&nbsp;<span class="glyphicon glyphicon-save"></span>
	    </div>
	  </div>
    </div> 
  </div>
  <div style="text-align: right;">
  	<a class="citation" href="http://www.flickr.com/photos/21115027@N03/5837980802/in/photolist-9TTbiq-ai7YDS-aZjTXv-eaQywa-8T45NM-cVHs2u-8BZaCT-7QZKBi-aa3KE2-7xDRCd-dHuDb3-aYMTF6-edMCMq-9pi6Zr-doanLv-c64115-bQwK2i-9HLoyf-fNgfUh-bX1bqr-bX1bbR-cenwWC-9Yiwuf-8q2f2c-8vin5T-dciy51-aYMU9Z-8u9PjP-7KyTCu-87FbsA-9rtyjJ-8BxAVC-isdnGh-8XVfic-cfKJSC-8U2usA-8vmqty-8vmqw7-7z6QM3-7QMoJS-85yaN8-7VVajE-dWahqB-9dj7ix-cmRojW-88TG4B-hysXMo-hyso7j-hysdb6-hysdcZ-hysXGd">source:flickr.com, phrawr;</a> <a class="citation" href="http://creativecommons.org/licenses/by/2.0/">CC by 2.0</a>
  </div>
</div>
<div class="jumbotron color_back" style="padding: 0em;">
	<div class="container">
		<div class="row " style="margin-top: 0em; margin-bottom: 0em;">
		  <div class="col-lg-8 col-lg-offset-1">
		  	<h2 class="title shim_l white">RecordTrac</h2>
		  </div>
		</div> 
	</div>
</div>
<div id ="features" class="jumbotron" style="background: none;">
  <div class="container">
	<div class="row" style="margin-top: 1em; margin-bottom: 3em;">
		<div class="col-lg-12" style="text-align: center;">
			<div class="title_tag">FEATURES</div>
		</div>
	</div>
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
      <div class="col-lg-5 col-lg-offset-1" style="text-align: right;">
    	<h2 class="title color">Review Previous Requests</h2>
    	<h3 class="title">Save time for the government and public</h3>
    	<p style="padding-top: .75em;">Anyone can review current or past requests by keyword, status or department. This helps reduce duplicate requests.</p>
      </div>
      <div class="col-lg-5" style="text-align: right;">
        <div style="background: gray; width: 100%; height: 300px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background: #F4F4F4;">
  <div class="container">
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
	  <div class="col-lg-5 col-lg-offset-1 recordtrac" style="text-align: right;">
        <div style="background: gray; width: 100%; height: 300px;"></div>
      </div>    	
      <div class="col-lg-5 ">
    	<h2 class="title color">Make Requests Online</h2>
    	<h3 class="title">Digitize and streamline from the start</h3>
    	<p style="padding-top: .75em;">Individuals can make make requests directed at specific departments and leave their contact information for follow up.</p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background: none;">
  <div class="container">
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
      <div class="col-lg-5 col-lg-offset-1" style="text-align: right;">
    	<h2 class="title color">Track Requests</h2>
    	<h3 class="title">Reduce fines from late responses</h3>
    	<p style="padding-top: .75em;">Track dates, requester, government point of contact, and correspondence. Sign up to receive email updates about a specific request.</p>
      </div>
      <div class="col-lg-5" style="text-align: right;">
        <div style="background: gray; width: 100%; height: 300px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background: #F4F4F4;">
  <div class="container">
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
	  <div class="col-lg-5 col-lg-offset-1" style="text-align: right;">
        <div style="background: gray; width: 100%; height: 300px;">
        </div>
      </div>    	
      <div class="col-lg-5">
        <div>
        	<h2 class="title color">Manage Responses</h2>
        	<h3 class="title">Use a transparent and efficient process</h3>
        	<p style="padding-top: .75em;">Government employees can respond to requests through a simple interface - allowing them to respond quickly with relevant information. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron" style="background: none;">
  <div class="container">
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
      <div class="col-lg-5 col-lg-offset-1" style="text-align: right;">
    	<h2 class="title color">Review Metrics</h2>
    	<h3 class="title">Understand response data for easy management</h3>
    	<p style="padding-top: .75em;">See total requests as well as average response time by department. Locate where to put resources and effort. </p>
      </div>
      <div class="col-lg-5" style="text-align: right;">
        <div style="background: gray; width: 100%; height: 300px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="in_use" class="jumbotron" style="background: url(static/images/oakland.jpg);">
  <div class="container">
  	<div class="row" style="margin-top: 1em; margin-bottom: 3em;">
		<div class="col-lg-12" style="text-align: center;">
			<div class="title_tag">IN USE</div>
		</div>
	</div>
    <div class="row" style="margin-top: .5em; margin-bottom: 1em;">
      <div class="col-lg-6 col-lg-offset-6">
      	<div class="white_back">
      		<h2 class="title">Oakland, CA</h2>
	    	<p>RecordTrac has helped the City of Oakland process over 2,000 public requests across all city departments in its first year of use. It also helped the City save hundreds of thousands of dollars compared with their previous solution.</p>
	    	<h2 class=" title shim shim_top"><em>“The RecordTrac application is so much better than the cumbersome old system, it's really a tremendous difference.  It saves me time, mostly from the far more nimble interface... the public end-users also find it much easier to work with.”</em></h2>
	    	<h3 class=" title " >Jim Bondi<br>City of Oakland</h3>
	    </div>
      </div>
    </div>
  </div>
  <div style="text-align: right;">
  	<a class="citation" href="http://www.flickr.com/photos/32802092@N00/3472913945/in/photolist-6hTAjD-6hXHjb-6hXJjo-6jHAH1-6tiUQt-6tiVKv-6to42w-6to5yW-6wy9t3-6MK4dd-79GBQd-7cTDfS-7obAJG-7rLt4f-7ww6v8-8h1VDy-8gXFoc-8h1WHm-8gXEW8-8gXEzn-8gXEEZ-8gXFc6-8h1W4b-8gXF1X-8h1VJW-8gXERe-8h1WNU-8gXFik-8gXF7c-aGBmiX-eTgkCv-eTgkXk-eTgnfz-eTgmXt-eTgmCt-eTgk2x-eTsLwh-eTsKeC-eTsHB1-aGAcdP-hMk4Vd-dZ74pK-aHx9xV-ekopUz-7WDb14-dDZQ4v-a5JMad-a5FV2X-a5JMHU-a5JM69-a5FV9g">source:flickr.com, eoringle;</a> <a class="citation" href="http://creativecommons.org/licenses/by/2.0/">CC by 2.0</a>
  </div>
</div>
<div id="in_the_news" class="jumbotron" style="background: none;">
  <div class="container">
  	<div class="row" style="margin-top: 1em; margin-bottom: 3em;">
		<div class="col-lg-12" style="text-align: center;">
			<div class="title_tag">IN THE NEWS</div>
		</div>
	</div>
    <div class="row" style="margin-top: 1em; margin-bottom: 2.5em;">    	
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 1em; margin-bottom: 2.5em;">    	
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
        	<p>Ad ipsum dolorum et ipsum sequitor non ipsum.</p>
        	<h2>Newsweek</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
