{% extends "base.html" %}

{% block content %}

  <div id="newrecordtrac" class="newRT">
     <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-md-12 col-lg-12">
          <h4>Thanks for getting in touch with us about <a href='/recordtrac'>RecordTrac</a>!</h4><p>We're leading the way on public records requests and are excited you're interested in joining us. We'll follow up with you shortly to set up a customized pilot for your organization.</p><p>If you have any questions don't hesitate to call or send us an email.<br><strong>tel:</strong> (844) 767-8263<br><strong>email:</strong> <a href='mailto:recordtrac@postcode.io'>recordtrac@postcode.io</a></p>
          <div class="signup-footer">
            <img class="signup-logo" width="20px" src="{{ url_for('static', filename='images/recordtrac_logo_wht_inverse.png') }}" alt="recordtrac logo">
            <p>Welcome to the new <span style="font-family:'Montserrat', sans-serif; font-weight: 800;">RecordTrac</span></p>
            <div><a class="btn btn-success" href='/recordtrac'><< Back</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
