{% extends "base.html" %}


{% block content %}


  <div class="container">
    <div class="row">
      <div class="col-lg-12 shim_nav">
          <h2>Watch the RecordTrac video!</h2>
      </div>
      <div class="col-lg-11 shim_video">
          <iframe src="//fast.wistia.net/embed/iframe/ykqdie3no0?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="900" height="534"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
      </div>
    </div> 
  </div>




{% endblock content %}
