@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* Variables */

$CityVoiceColor: #6CC5AD;
$PromptlyColor: #FAAC3A;
$RecordTracColor: #E57755;
$PostCodeColor: #86C9D9;
$LightGray: #F4F4F4;
$MedGray: #939597;
$DarkGray: #636363;


/* Typography */
@media(max-width:767px){
  h1 {
  color: #636363;
  font-size: 1.7em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:768px){
  h1 {
  color: #636363;
  font-size: 1.8em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:992px){
  h1 {
  color: #636363;
  font-size: 4em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:1200px){
  h1 {
  color: #636363;
  font-size: 8em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}

h2 {
  color: #939597;
  font-size: 1.35em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  letter-spacing: 0;
  margin-bottom: .25em;
  margin-top: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #939597;
  font-size: 1.1em;
  margin-bottom: .5em;
  margin-top: 0em; 
  padding: 0px;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #939597;
}
h5 {
  color: #636363;
  font-size: .85em;
  margin-bottom: 0em;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #939597;
  font-size: .9em;
  padding-bottom: .5em;
}
p .sml_quote{
  font-family: 'Open Sans', sans-serif;
  color: #939597;
  font-size: .8em;
  padding-bottom: .5em;
}

.emphasize{
  color:#636363; font-family: 'Montserrat', sans-serif;"
}
.emphasize_med{
  color:#939597; font-family: 'Montserrat', sans-serif;"
}
.shim{
  margin-bottom: .75em;
}
.shim_top{
  margin-top: .75em;
}
.shim_l{
  margin-left: .75em;
}
.shim_r{
  margin-right: .75em;
}
.shim_nav{
  margin-top: 75px;
}
.shim_video{
  padding-top: 1em;
  padding-bottom: 5em;
}
.white{
  color: white;
}

.bio{
  margin-top: 1em;
}

.name{
  font-family: 'Montserrat', sans-serif;
  color: #636363;
  font-size: .9em;
  margin-top: 5px;
  padding: 0px;
  line-height: 1em;
  width
}
.bio img {
  width: 150px;
  padding-top: .5em;
}

.position{
  color: #A1A1A1;
  font-style: italic;
  font-size: .7em;
  line-height: 1em;
  margin-top: 2px;
  margin-bottom: 4px;
  padding-top: 0px;  
}
.contact{
  color: #A1A1A1;
  font-size: .7em;
  line-height: 1em;
  margin-top: 2px;
  padding-top: 0px;  
}
.jumbotron{
  background-repeat: no-repeat;
  margin-bottom: 0em;
  padding: 25px 25px 0px 25px;
}

.shadow {
  -moz-box-shadow:    0px 0px 20px 5px #939597;
  -webkit-box-shadow: 0px 0px 20px 5px #939597;
  box-shadow:         0px 0px 20px 5px #939597;
}
.white_back{
  background: white;
  padding: 20px 20px 20px 25px;
}

/* Header*/

/* navbar */
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
    opacity:0.98;
    filter:alpha(opacity=98); /* For IE8 and earlier */
}

/* footer */

footer{
  background: #FCFCFC;
  border-top: 1px solid #C7C7C7;
  padding: 15px;
  padding-bottom: 25px;
}

/* link */
a:link {color: #86C9D9;}     
a:visited {color: #86C9D9;}  
a:hover {color:#939597; text-decoration: none;}  
a:active {color: white;} 

.navbar .nav > li > a {
    color: #939597;
    font-family:'Montserrat', sans-serif;
    font-size: 1.15em;
}

a.banner:link {color: #636363;}     
a.banner:visited {color: #636363;}  
a.banner:hover {color:#939597; text-decoration: none;}  
a.banner:active {color: white;} 

a.citation {
  color: white; 
  font-size: .45em; 
  line-height: 1;
}  
a.citation:link {color: white;}     
a.citation:visited {color: white;}  
a.citation:hover {color:white; text-decoration: none;}  
a.citation:active {color: white;}

a.citation_grey {
  color: #939597; 
  font-size: .45em; 
  line-height: 1;
}  
a.citation_grey:link {color: #939597;}     
a.citation_grey:visited {color: #939597;}  
a.citation_grey:hover {color:#939597; text-decoration: none;}  
a.citation_grey:active {color: #939597;} 

a.rt_link {
  color: #E57755; 
}  
a.rt_link:link {color: #E57755;}     
a.rt_link:visited {color: #E57755;}  
a.rt_link:hover {color:#939597; text-decoration: none;}  
a.rt_link:active {color: #E57755;}  


/* Top Banner */ 
.banner_text{
  background: white;
  display:inline;
  padding: 0px 10px;
  margin-bottom: 25px;
}

/* Products */

.products{
  padding-bottom: 2em;
}
.products h1 {
    color: #939597;
}



.productbox {

}
.productbox .title {
  font-family: sans-serif;
  color: #636363;
}

.productbox .tab {
  border-left: 20px solid #00889E;
}

.recordtrac {
  margin: 0em 1em 1em 0em;
}
.recordtrac .title{
  font-family: 'Lato', sans-serif;
}
.recordtrac .tab {
    border-left: 20px solid #00889E;
}
.recordtrac .color {
    color: #E57755;
}
.recordtrac .color_back {
    background: #E57755;
}
.recordtrac h1 {
    color: #939597;
}
.recordtrac h2 {
    margin-bottom: .1em;
}
.recordtrac h3{
  border: none;
  color: #BABABA;  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.45em; 
  letter-spacing: .14em;
  margin: 0em;
  word-spacing: .23em;

}
.recordtrac h4{
  border: none;
  color: #939597;  
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15em;
  margin-bottom: .5em;
  padding: 0em; 
}
.recordtrac h5{ 
  border: none;
  color: #939597; 
  font-family: 'Montserrat', sans-serif;
  font-size: .75em; 
  margin-top: 1em;
  margin-bottom: .75em;
  padding: .25em .6em;
}

.recordtrac p{
  margin-top: .75em;
  margin-bottom: .75em;
}
.recordtrac p.right{
  margin: 0em 2em .75em 0em;
}

.recordtrac p.left{
  margin: 0em 0em .75em 2em;
}

.recordtrac button{
  margin-top: 2em;
}

.rt_counter p{
  margin-top: 1em;
}

.shim_RT{
  margin-top: 5.5em;
  margin-bottom: 2em;
}

.recordtrac .video{
  margin: 3.5em 0em 2.5em;
}



.promptly {
  margin: 0em 1em 1em 0em; 
}
.promptly .color{
  color: #789FD3;
}
.promptly h1 {
    color: #939597;
}
.promptly h2 {
    margin-bottom: .1em;
}
.promptly h3{
  border: none;
  color: #BABABA;  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.45em; 
  letter-spacing: .14em;
  margin: 0em;
  word-spacing: .23em;

}
.promptly h4{
  font-size: 1.25em;
}
.promptly h5{
  font-size: .75em;  
}
.promptly button{
  margin-top: 2em;
}

.cityvoice {
  margin: 0em 1em 1em 0em; 
}
.cityvoice .color{
  color: #6cc5ad;
}
.cityvoice h4 {
  font-size: 1.25em;
}
.cityvoice h5 {
  font-size: .9em;
}

/* legal pages */
.privacy{
  margin: 8em 0em 10em 0em;
}


/* Buttons & Tags */

.glyphicon-save{
    color: #636363;
}
.glyphicon-chevron-down{
    color: #636363;
}
.glyphicon-ok {
  color: #939597;
  margin-right: .75em;
}

.btn {
  margin-top: 10px;
}
.btn-primary{
  background: #789FD3;
  border: #5c7dbe;
  font-size: .75em;
  padding: .4em 1.3em;
  margin-top: .75em;
}
.btn-primary:hover  {
  background: #7891ba;
  border: none;
} 
.btn-success{
  background: #6cc5ad;
  border: #6cc5ad;
  font-size: .75em;
  padding: .4em 1.3em;
  margin-top: .75em;
}
.btn-success:hover  {
  background: #83c4b2;
  border: none;
}
.btn-danger{
  background: #E57755;
  border: #E57755;
  font-size: 1em;
  padding: .4em 1.3em;
  margin-top: .75em;
}

.btn-danger:hover  {
  background: #E29681;
  border: none;
} 

.no-top {
  margin-top: 0px;
}

.no-bottom {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.btn-inverse{
  background: white;
  border: 2px solid white;
  -moz-box-shadow:    0px 0px 7px 4px #ccc;
  -webkit-box-shadow: 0px 0px 7px 4px #ccc;
  box-shadow:         0px 0px 7px 4px #ccc;
  font-size: 1.75em;
  padding: .35em 1.5em;
}

.btn-inverse:hover{
  background: #F2F2F2;
}

.no-top {
  margin-top: 0px;
}

.contact_button{
background: white;
border: 2px solid #636363;
display: inline;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; /* future proofing */
padding: 10px 15px;
}

.title_tag{
background: #636363; 
color: white; 
display: inline; 
font-family: 'Montserrat', sans-serif;
font-size: .75em; 
margin-top: 1em;
padding: .25em .6em;
-moz-box-shadow:    0px 0px 25px -3px #FFFFFF;
-webkit-box-shadow: 0px 0px 25px -3px #FFFFFF;
box-shadow:         0px 0px 25px -3px #FFFFFF;
}

.title_tag_wht{
background: white; 
border: none;
color: #939597; 
display: inline; 
font-family: 'Montserrat', sans-serif;
font-size: .75em; 
margin-top: 1em;
margin-bottom: .75em;
padding: .25em .6em;
}









