@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* Variables */

$CityVoiceColor: #6CC5AD;
$PromptlyColor: #FAAC3A;
$RecordTracColor: #00889E;
$PostCodeColor: #86C9D9;
$LightGray: #F4F4F4;
$MedGray: #939597;
$DarkGray: #636363;


/* Typography */
@media(max-width:767px){
  h1 {
  color: #636363;
  font-size: 1.7em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:768px){
  h1 {
  color: #636363;
  font-size: 1.8em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:992px){
  h1 {
  color: #636363;
  font-size: 4em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}
@media(min-width:1200px){
  h1 {
  color: #636363;
  font-size: 8em;
  letter-spacing: .05em;
  margin: 0em;
  font-family: 'Montserrat', sans-serif;
}
}

h2 {
  color: #939597;
  font-size: 1.15em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0;
  text-align: left;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #636363;
  font-size: .9em;
  text-align: left;
  margin-top: 10px;
  padding: 0px;
  line-height: 0em;
}
h5 {
  color: #636363;
  font-size: .85em;
  text-align: left;
  margin-bottom: 0em;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #939597;
  font-size: .9em;
  margin-bottom: 0em;
}
.emphasize{
  color:#636363; font-family: 'Montserrat', sans-serif;"
}
.emphasize_med{
  color:#939597; font-family: 'Montserrat', sans-serif;"
}
.shim{
  margin-bottom: .75em;
}
.shim_top{
  margin-top: .75em;
}
.name{
  font-family: 'Montserrat', sans-serif;
  color: #636363;
  font-size: .9em;
  margin-top: 5px;
  padding: 0px;
  line-height: 1em;
}
.position{
  color: #A1A1A1;
  font-style: italic;
  font-size: .7em;
  line-height: 1em;
  margin-top: 2px;
  margin-bottom: 4px;
  padding-top: 0px;  
}
.contact{
  color: #A1A1A1;
  font-size: .7em;
  line-height: 1em;
  margin-top: 2px;
  padding-top: 0px;  
}
.jumbotron{
  padding: 25px;
  background-repeat: no-repeat;
}

.shadow {
  -moz-box-shadow:    0px 0px 20px 5px #636363;
  -webkit-box-shadow: 0px 0px 20px 5px #636363;
  box-shadow:         0px 0px 20px 5px #636363;
}
.white_back{
  background: white;
  text-align: left; 
  padding: 20px 20px 20px 33px;
}

/* Header*/

/* navbar */
.navbar-default {
    background-color: #FFF;
    border-color: #FFF;
    opacity:0.98;
    filter:alpha(opacity=98); /* For IE8 and earlier */
}

/* footer */

footer{
  background: #FCFCFC;
  border-top: 1px solid #C7C7C7;
  padding: 15px;
  padding-bottom: 25px;
}

/* link */
a:link {color: #86C9D9;}     
a:visited {color: #86C9D9;}  
a:hover {color:#939597; text-decoration: none;}  
a:active {color: white;} 

.navbar .nav > li > a {
    color: #939597;
    font-family:'Montserrat', sans-serif;
    font-size: 1.15em;
}

a.banner:link {color: #636363;}     
a.banner:visited {color: #636363;}  
a.banner:hover {color:#939597; text-decoration: none;}  
a.banner:active {color: white;}  

/* Top Banner */ 
.banner_text{
  background: white;
  display:inline;
  padding: 0px 10px;
  margin-bottom: 25px;
}

/* Products */

.recordtrac{
  font-family: 'Lato', sans-serif;
  color: #636363;
  border-left: 20px solid #00889E;

}
.promptly{
  font-family: 'Open Sans', sans-serif;
  color: #636363;
  border-left: 20px solid #FAAC3A;
}
.cityvoice{
  font-family: 'Varela Round', sans-serif;
  color: #636363;
  border-left: 20px solid #6CC5AD;
}
.products{
  background: white;
  margin-top: 1em; 
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.0;
  padding: 10px 25px;
}

/* Buttons & Tags */
.btn-inverse{
  background: white;
  border: 2px solid white;
  -moz-box-shadow:    0px 0px 7px 4px #ccc;
  -webkit-box-shadow: 0px 0px 7px 4px #ccc;
  box-shadow:         0px 0px 7px 4px #ccc;
  font-size: 1.75em;
  padding: .35em 1.5em;
}

.btn-inverse:hover{
  background: #F2F2F2;
}

.contact_button{
background: white;
border: 2px solid #636363;
display: inline;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; /* future proofing */
padding: 10px 15px;
}

.title_tag{
background: #636363; 
color: white; 
display: inline; 
font-family: 'Montserrat', sans-serif;
font-size: .75em; 
padding: .25em .6em;
-moz-box-shadow:    0px 0px 25px -3px #FFFFFF;
-webkit-box-shadow: 0px 0px 25px -3px #FFFFFF;
box-shadow:         0px 0px 25px -3px #FFFFFF;
}

.title_tag_wht{
background: white; 
border: none;
color: #939597; 
display: inline; 
font-family: 'Montserrat', sans-serif;
font-size: .75em; 
margin-top: 10px;
padding: .25em .6em;
}
/* 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; 
*/
}



