.panel h1 {
  color: #d9d9d9;
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}

.panel h4 {
  color: #d9d9d9;
}

.main {
  background: url('../images/inflicted.png') repeat;
  /*background: #333;*/
}

.top-bar {
  background: #fff;
}
