<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>POSTCODE</title>
    <LINK REL="SHORTCUT ICON" HREF="http://www.oppcaster.com/favicon.ico" /> 

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">

    <!-- Custom styles for this template -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <div class="container" style="padding-bottom: 5em;">
    <div class="row">
      <div class="span12">
        <img style="margin-top: 7em; padding: 0px 15px;" class="img-responsive" src="images/postcode_logo_binary_text.png" alt="POSTCODE">
      </div>
    </div>
    <p style="font-size: 1.6em; letter-spacing: 8px; margin: .3em 0em 2em 0em;">DELIVERING CIVIC TECHNOLOGY &#149; SINCE 2013</p>  
    <button class="btn btn-large btn-inverse" type="button" onclick="window.open('https://docs.google.com/forms/d/1a0fFreqxl-1S5KKwdM54WN-wqiYCeegsMwDte0FbDT0/viewform', '_blank')">Contact Us</button>
  </div>
  {{ content }}
    <div class="container">
      <hr>
      <footer>
        <div>     
          &copy; POSTCODE, Inc. &nbsp;2013 &nbsp;&nbsp;<a href="mailto:info@postcode.io">info@postcode.io</a><span style="float:right">
          <a href="https://twitter.com/postcode_io" class="twitter-follow-button" data-show-count="false">Follow @postcode_io</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></span>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43486781-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
